@font-face {
    font-family: 'proxima_novalight';
    src: url('../fonts/proxima_nova_light-webfont.eot');
    src: url('../fonts/proxima_nova_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxima_nova_light-webfont.woff2') format('woff2'),
         url('../fonts/proxima_nova_light-webfont.woff') format('woff'),
         url('../fonts/proxima_nova_light-webfont.ttf') format('truetype'),
         url('../fonts/proxima_nova_light-webfont.svg#proxima_nova_ltlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
	min-height: 100%;
}

body {
	height: 100%;
}

#page-container.merch {
	font-family: "proxima_novalight", Helvetica, Arial, sans-serif;
	position: relative;
	z-index: 1;
}

#page-cover {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(255, 255, 255, 0.7);
	z-index: 2;
	display: none;
}

#popup-container {
	position: absolute;
	z-index: 3;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
}

#popup-container .content {
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

header {
	background: #b0ded3 url(../images/merch/hyped_merch_header.png) no-repeat scroll 0 0;
	background-size: 260px auto;
	background-position: center;
	height: 400px;
	position: relative;
}

header .scroll-arrow {
	display: none;
}

header .hyped-logo {
	background: url(../images/merch/hyped_logo_33x40.png) no-repeat scroll 0 0;
	display: inline-block;
	position: absolute;
	width: 33px;
	height: 40px;
	top: 20px;
	left: 20px;
	outline: none;
}

section {
	padding: 20px;
}

section h2 {
	font-size: 30px;
	margin-top: 0;
}

section p {
	font-size: 18px;
}

.we-offer {
	background-color: #FFF;
	position: relative;
}

.we-offer a {
	display: none;
}

.filter {
	background-color: #b0ded3;
	height: 80px;
	font-size: 16px;
	line-height: 40px;
	position: relative;
}

.filter ul {
	list-style: none;
	margin: 0;
	padding: 0;
	max-width: 325px;
}

.filter ul:after {
	content: '';
	width: 100%;
	display: inline-block;
}

.filter li {
	display: inline-block;
	line-height: 100%;
	padding: 0 3px;
}

.filter li:first-child {
	padding-left: 0;
}

.filter li.active {
	color: #FFF;
}

.filter li.cat:hover {
	color: #FFF;
	cursor: pointer;
}

.filter a.contact-us {
	display: none;
}

.contact-us {
	background-color: #f69670;
	font-size: 18px;
}

.contact-us a:hover,
.contact-us a:focus {
	color: #b0ded3;
}

.page-close.product-popup {
	top: 15px;
	right: 15px;
	width: 25px;
	height: 24px;
	background: url(../images/icons/icon_close_grey.png) 0 0 no-repeat scroll;
	background-size: contain;
	z-index: 4;
}

.products {
	text-align: center;
	padding: 0;
	transition: all 0.5s ease 0s;
}

.products .row {
	margin: 0;
}

.products img:hover {
	cursor: pointer;
}

.products img,
.product img {
	max-width: 100%;
	padding: 0;
}

.product {
	max-width: 490px;
	margin: 0 auto;
	font-size: 14px;
	display: none;
	position: relative;
}

.product .image {
	position: relative;
	padding: 0;
}

.product-description {
	padding-bottom: 25px;
	background-color: #FFF;
}

.product h3 {
	font-size: 14px;
	font-weight: bold;
	margin-top: 0;
}

.product p {
	font-size: 14px;
	margin-bottom: 0;
}

.product .sizes {
	margin-top: 20px;
}

.product .price {
	color: #F69670;
}

.product ul {
	list-style: none;
	margin: 0;
	padding: 0;
	max-width: 120px;
}

.product ul:after {
	content: '';
	width: 100%;
	display: inline-block;
}

.product li {
	display: inline-block;
	line-height: 100%;
}

.product-colours {
	padding: 0;
}

.product .colour {
	width: 25%;
	height: 40px;
	float: left;
}

.product-contact {
	background-color: #EEE;
	height: 110px;
	padding: 0;
}

.product-contact p {
	line-height: 110px;
	text-align: center;
	margin: 0;
	font-size: 18px;
}

.product-contact a {
	color: #f69670;
}

.product-contact a:hover {
	color: #b0ded3;
	cursor: pointer;
}

#contact-form-container {
	height: auto;
	min-height: 0;
	padding: 50px 15px;
	max-width: 490px;
	position: relative;
	margin: 0 auto;
}

#contact-form-container .page-close, 
#form-submit-success .page-close {
	width: 25px;
	height: 24px;
	top: 15px;
	right: 15px;
	background-size: contain;
}

#form-submit-success {
	padding: 20px;
	height: 450px;
	opacity: 1;
	margin: 0 auto;
	max-width: 490px;
	right: 0;
}

footer {
	margin-top: 0;
}

@media only screen and (min-width: 380px) {
	.filter {
		font-size: 20px;
	}
}

@media only screen and (min-width: 580px) {
	header {
		background-size: 460px auto;
	}
}

@media only screen and (min-width: 768px) {
	header .scroll-arrow {
		display: block;
		margin: 0 auto;
		width: 47px;
		height: 39px;
		background: url(../images/icons/arrow_down_white.png) no-repeat scroll 0 0;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 40px;
	}

	header .scroll-arrow:hover {
		cursor: pointer; 
	}

	header .hyped-logo {
		top: 50px;
		left: 45px;
	}

	section h2 {
		font-size: 32px;
	}

	.we-offer,
	.we-are {
		padding: 40px;
	}

	.we-offer .wrapper {
		width: 510px;
		margin: 0 auto;
		background: url(../images/merch/shirt_icon_130x124.png) no-repeat scroll 0 100px;
		padding-left: 180px;
	}

	.we-offer a {
		display: inline-block;
		position: absolute;
		width: 25px;
		height: 67px;
		background: url(../images/icons/arrow_left_grey.png) no-repeat scroll 0 0;
		top: 0;
		bottom: 0;
		margin: auto;
	}

	.we-offer a.arrow-right {
		transform: rotate(180deg);
		right: 70px;
	}

	.filter {
		font-size: 24px;
	}

	.filter ul {
		position: absolute;
		left: 80px;
		max-width: 100%;
	}

	.filter a.contact-us {
		position: absolute;
		right: 80px;
		font-size: 24px;
		background-color: transparent;
		color: #f69670;
		display: block;
	}

	.filter a.contact-us:hover {
		color: #FFF;
	}

	section.contact-us {
		display: none;
	}

	.product-contact p {
		font-size: 24px;
	}


	#contact-form-container {
		min-width: 690px;
		padding: 50px 35px;
	}

	#form-submit-success h2 {
		font-size: 28px;
	}
}

@media only screen and (min-width: 1024px) {
	header {
		background-size: 660px auto;
	}

	section h2 {
		font-size: 40px;
	}

	section p {
		font-size: 24px;
	}

	.we-offer,
	.we-are {
		padding: 80px 70px;
	}

	.we-offer .wrapper {
		width: 810px;
		padding-left: 210px;
	}

	.product {
		max-width: 920px;
	}

	.product .product-description {
		padding: 30px 30px 0;
		height: 288px;
	}

	.product .image {
		float: left;
		width: 460px;
	}

	.product .product-info {
		display: inline-block;
		max-width: 460px;
	}
}

@media only screen and (min-width: 1024px) and (min-height: 700px) {
	#popup-container {
		position: fixed;
		top: 75px;
	}
}