
/* PROJECT DETAIL STYLES */

.pr.page-close {
	background: url(../images/icons/icon_close_orange.png) 0 0 no-repeat scroll;
	z-index: 3;
}

.project-wrapper {
	position: relative;
	min-height: 450px;
	overflow: hidden;
}

.project-wrapper h1 {
	position: absolute;
	bottom: 30px;
	left: 30px;
	font-size: 30px;
	font-family: "Roboto Light", sans-serif;
	margin: 0;
	color: #f69670;
	z-index: 3;
	text-transform: uppercase;
}

.project-switch {
	z-index: 3;
}

.image-container {
	background-size: cover;
	background-position: center center;
	height: 100%;
}

.project-intro {
	font-family: "Roboto", sans-serif;
	color: #444;
	z-index: 2;
	padding: 0 30px 20px;
	margin-top: 20px;
}

.project-intro h1 {
	text-transform: uppercase;
	font-size: 24px;	
	margin: 0;
	letter-spacing: 1px;
	font-weight: 700;
	display: none;
}

.project-intro p {
	margin-top: 10px;
	font-size: 18px;
	font-family: "Roboto Light", sans-serif;
	padding-left: 2px;
}

.project-intro a {
	color: #F69670;
}

.project-intro a:hover {
	color: #B0DED3;
}

.pr.rslides,
.pr.rslides li {
	height: 100%;
}

/* CENY ANDEL GALLERY */
#ca-web-1 {
	background-image: url(../images/projects/ca/ca_1_640x1100.png);
}
#ca-web-2 {
	background-image: url(../images/projects/ca/ca_2_640x1100.gif);
}
#ca-web-3 {
	background-image: url(../images/projects/ca/ca_3_640x1100.png);
}
#ca-web-4 {
	background-image: url(../images/projects/ca/ca_4_640x1100.gif);
}


/* EWA FARNA MERCH GALLERY */
#ef-1 {
	background-image: url(../images/projects/ef/ef_merch_1_640x1100.png);
}
#ef-2 {
	background-image: url(../images/projects/ef/ef_merch_2_640x1100.png);
}
#ef-3 {
	background-image: url(../images/projects/ef/ef_merch_3_640x1100.gif);
}
#ef-4 {
	background-image: url(../images/projects/ef/ef_merch_4_640x1100.png);
}

/* STUDENT LABEL GALLERY */
#sl-1 {
	background: url(../images/projects/sl/sl_1_640x1100.png) no-repeat scroll 0 top;
}
#sl-2 {
	background-image: url(../images/projects/sl/sl_2_640x1100.png);
}
#sl-3 {
	background-image: url(../images/projects/sl/sl_3_640x1100.gif);
}
#sl-4 {
	background-image: url(../images/projects/sl/sl_4_640x1100.gif);
}

/* EZYWAY GALLERY */
#ezy-1 {
	background-image: url(../images/projects/ezy/ezy_1_640x1100.png);
}
#ezy-2 {
	background-image: url(../images/projects/ezy/ezy_2_640x1100.png);
}
#ezy-3 {
	background-image: url(../images/projects/ezy/ezy_3_640x1100.png);
}

@media only screen and (min-device-width: 736px) {

}
 
@media only screen and (min-device-width: 990px) {

	/* CENY ANDEL GALLERY */
	#ca-web-1 {
		background-image: url(../images/projects/ca/ca_1_1920x1080.png);
	}
	#ca-web-2 {
		background-image: url(../images/projects/ca/ca_2_1920x1080.gif);
	}
	#ca-web-3 {
		background-image: url(../images/projects/ca/ca_3_1920x1080.png);
	}  
	#ca-web-4 {
		background-image: url(../images/projects/ca/ca_4_1920x1080.gif);
	}  

	/* EWA FARNA MERCH GALLERY */
	#ef-1 {
		background-image: url(../images/projects/ef/ef_merch_1_1920x1080.png);
	}
	#ef-2 {
		background-image: url(../images/projects/ef/ef_merch_2_1920x1080.png);
	}
	#ef-3 {
		background-image: url(../images/projects/ef/ef_merch_3_1920x1080.gif);
	}
	#ef-4 {
		background-image: url(../images/projects/ef/ef_merch_4_1920x1080.png);
	}
  
	/* STUDENT LABEL GALLERY */
	#sl-1 {
		background-image: url(../images/projects/sl/sl_1_1920x1080.png);
	}
	#sl-2 {
		background-image: url(../images/projects/sl/sl_2_1920x1080.png);
	}
	#sl-3 {
		background-image: url(../images/projects/sl/sl_3_1920x1080.gif);
	}
	#sl-4 {
		background-image: url(../images/projects/sl/sl_4_1920x1080.gif);
	}

	  /* EZYWAY GALLERY */
	#ezy-1 {
		background-image: url(../images/projects/ezy/ezy_1_1920x1080.png);
	}
	#ezy-2 {
		background-image: url(../images/projects/ezy/ezy_2_1920x1080.png);
	}
	#ezy-3 {
		background-image: url(../images/projects/ezy/ezy_3_1920x1080.png);
	}

	.project-wrapper h1 {
		display: none;
	}

	.project-intro {
		position: absolute;
		top: 0;
		right: 0;
		width: 320px;
		margin-top: 0;
		height: 100%;
		z-index: 2;
		height: 100%;
		padding-bottom: 0;
	}

	.project-intro h1 {
		display: block;
	}

	.project-intro .bg {
		background-color: rgba(255,255,255,0.6);
		position: absolute;
		left: 0;
		right: 0;
		height: 100%;
	}

	.project-intro .content {
		position: absolute;
		top: 120px;
		left: 0;
		padding: 30px;
	}
}

@media only screen and (max-width: 440px) {
	#main-logo-container {
		left: 20px;
	}

	.project-wrapper h1 {
		left: 20px;
	}

	.project-intro {
		padding-left: 20px;
		padding-right: 20px;
	}
}