
/* PROJECT DETAIL STYLES */

.pr.page-close {
	background: url(../images/close_icon_orange.png) 0 0 no-repeat scroll;
	z-index: 2;
}

.project-wrapper {
	position: relative;
	min-height: 450px;
	overflow: hidden;
}

.image-container {
	background-size: cover;
	background-position: center center;
	height: 100%;
}

.project-intro {
	position: absolute;
	bottom: 40px;
	left: 20px;
	max-width: 460px;
	font-family: "Roboto", sans-serif;
	color: #F69670;
	z-index: 2;
	padding: 0 10px;
}

.project-intro h1 {
	text-transform: uppercase;
	font-size: 30px;	
	margin: 0;
	letter-spacing: 1px;
	font-weight: 700;
}

.project-intro p:first-of-type {
	margin-top: 15px;
}

.project-intro p {
	font-size: 16px;
	font-family: "Roboto Thin", sans-serif;
	margin-bottom: 3px;
}

.project-intro a {
	color: #F69670;
}

.project-intro a:hover {
	color: #B0DED3;
}

.pr.rslides,
.pr.rslides li {
	height: 100%;
}

/* CENY ANDEL GALLERY */
#ca-web-1 {
	background-image: url(../images/projects/ca/ca_1_640x1100.gif);
}
#ca-web-2 {
	background-image: url(../images/projects/ca/ca_2_640x1100.jpg);
}
#ca-web-3 {
	background-image: url(../images/projects/ca/ca_3_640x1100.gif);
}


/* EWA FARNA MERCH GALLERY */
#ef-1 {
	background-image: url(../images/projects/ef/ef_merch_1_640x1100.jpg);
}
#ef-2 {
	background-image: url(../images/projects/ef/ef_merch_2_640x1100.jpg);
}
#ef-3 {
	background-image: url(../images/projects/ef/ef_merch_3_640x1100.gif);
}
#ef-4 {
	background-image: url(../images/projects/ef/ef_merch_4_640x1100.jpg);
}

/* STUDENT LABEL GALLERY */
#sl-1 {
	background-image: url(../images/projects/sl/sl_1_640x1100.jpg);
}
#sl-2 {
	background-image: url(../images/projects/sl/sl_2_640x1100.jpg);
}
#sl-3 {
	background-image: url(../images/projects/sl/sl_3_640x1100.gif);
}
#sl-4 {
	background-image: url(../images/projects/sl/sl_4_640x1100.gif);
}

@media only screen and (min-device-width: 990px) {
	/* CENY ANDEL GALLERY */
	#ca-web-1 {
		background-image: url(../images/projects/ca/ca_1_1920x1080.gif);
	}
	#ca-web-2 {
		background-image: url(../images/projects/ca/ca_2_1920x1080.jpg);
	}
	#ca-web-3 {
		background-image: url(../images/projects/ca/ca_3_1920x1080.gif);
	}  

	/* EWA FARNA MERCH GALLERY */
	#ef-1 {
		background-image: url(../images/projects/ef/ef_merch_1_1920x1080.jpg);
	}
	#ef-2 {
		background-image: url(../images/projects/ef/ef_merch_2_1920x1080.jpg);
	}
	#ef-3 {
		background-image: url(../images/projects/ef/ef_merch_3_1920x1080.gif);
	}
	#ef-4 {
		background-image: url(../images/projects/ef/ef_merch_4_1920x1080.jpg);
	}
  
	/* STUDENT LABEL GALLERY */
	#sl-1 {
		background-image: url(../images/projects/sl/sl_1_1920x1080.jpg);
	}
	#sl-2 {
		background-image: url(../images/projects/sl/sl_2_1920x1080.jpg);
	}
	#sl-3 {
		background-image: url(../images/projects/sl/sl_3_1920x1080.gif);
	}
	#sl-4 {
		background-image: url(../images/projects/sl/sl_4_1920x1080.gif);
	}
}