@font-face {
	font-family: "Glyphicons Halflings";
	src: url("../fonts/glyphicons-halflings-regular.eot");
	src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), 
		 url("../fonts/glyphicons-halflings-regular.woff") format("woff"), 
		 url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), 
		 url("../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular") format("svg");
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular-webfont.eot');
    src: url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('../fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Light';
    src: url('../fonts/Roboto-Light-webfont.eot');
    src: url('../fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Light-webfont.woff') format('woff'),
         url('../fonts/Roboto-Light-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Medium';
    src: url('../fonts/Roboto-Medium-webfont.eot');
    src: url('../fonts/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Medium-webfont.woff') format('woff'),
         url('../fonts/Roboto-Medium-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Black';
    src: url('../fonts/Roboto-Black-webfont.eot');
    src: url('../fonts/Roboto-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Black-webfont.woff') format('woff'),
         url('../fonts/Roboto-Black-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Black-webfont.svg#robotoblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Thin';
    src: url('../fonts/Roboto-Thin-webfont.eot');
    src: url('../fonts/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Thin-webfont.woff') format('woff'),
         url('../fonts/Roboto-Thin-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Thin-webfont.svg#robotothin') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* GENERAL STYLES START */

html {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
}

a, a:hover, a:visited, a:focus, a:active {
	color: white;
	text-decoration: none;
}

/* GENERAL STYLES END */

/* HEADER STYLES START */
header {
	position: relative;
	transition: all 0.5s ease 0s;
	overflow: hidden;
	width: 100%;
	min-height: 450px;
}

header.in .project-background {
	background-position: -280px center !important;
}

header.in #project-ewa-farna {
	background-position: -280px top !important;
}

header.in #nav-container {
	right: 320px;
}

header.in #main-logo-container {
	left: -280px;
}

#main-logo-container {
	position: absolute;
	top: 41px;
	left: 40px;
	transition: all 0.5s ease 0s;
	z-index: 2;
}

#main-logo-container img {
	height: 25px;
}

#nav-container {
	position: absolute;
	top: 41px;
	right: 40px;
	transition: all 0.5s ease 0s;
	background: url(../images/icons/icon_nav_orange.png) 0 0 no-repeat scroll;
	background-size: contain;
	width: 34px;
	height: 25px;
	z-index: 2;
	text-indent: -1000em;
}

#nav-container:hover {
	cursor: pointer;
}

.project-container {
	width: 100%;
	min-height: 450px;
	position: relative;
}

.project-background {
	transition: all 0.5s ease 0s;
	min-height: 450px;
}

#project-ca-web {
	background: url(../images/projects/ca/ca_1_640x1100.png) center center no-repeat scroll;
	background-size: cover;
}

#project-ef-merch {
	background: url(../images/projects/ef/ef_merch_1_640x1100.png) center center no-repeat scroll;
	background-size: cover;
}

#project-student-label {
	background: url(../images/projects/sl/sl_1_640x1100.png) center center no-repeat scroll;
	background-size: cover;
}
#project-ezy {
	background: url(../images/projects/ezy/ezy_1_640x1100.png) center center no-repeat scroll;
	background-size: cover;
}

ul.project-focus {
	position: absolute;
	left: 30px;
	bottom: 85px;
	padding: 0;
	text-transform: uppercase;
	font-family: "Roboto Light", sans-serif;
	font-size: 12px;
	color: #999;
	border-left: 1px solid #f69670;
	display: none;
}

header .project-container ul.project-focus li {
	display: block;
	float: none;
	width: 100%;
	position: static;
	padding: 5px 0;
}

header .project-container ul.project-focus li:last-child {
	padding-bottom: 15px;
}

ul.project-focus li.true {
	color: #444;
}

ul.project-focus li:before {
	content: "\2014";
	margin-right: 10px;
}

ul.project-focus li.true:before {
	color: #f69670;
}

.project-title {
	text-transform: uppercase;
	color: #F69670;
	font-family: "Roboto", sans-serif;
	position: absolute;
	bottom: 45px;
	left: 0;
	right: 0;
	transition: all 0.3s ease 0s;
	width: 100%;
	margin: 0 auto;
	width: 200px;
}

.button-project-view {
	display: inline-block;
	width: 200px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #F69670;
	border: 1px solid #F69670;
	letter-spacing: 5px;
	margin-top: 20px;
	font-family: "Roboto Light", sans-serif;
}

.button-project-view:visited {
	color: #F69670;
}

.button-project-view:hover,
.button-project-view:focus {
	color: #FFF;
	background-color: #F69670;
}

.project-switch {
	position: absolute;
	bottom: 40px;
	right: 40px;
	z-index: 2;
	display: none;
}

.project-switch a {
	width: 19px;
	height: 35px;
	display: inline-block;
}

.rslides {
	z-index: 1;
}

.rslides_nav.prev {
	margin-right: 20px;
}

.hp .rslides_nav.prev,
.pr .rslides_nav.prev {
	background: url(../images/icons/icon_sprites.png) -80px 0 no-repeat scroll;
}

.hp .rslides_nav.next,
.pr .rslides_nav.next {
	background: url(../images/icons/icon_sprites.png) -100px 0 no-repeat scroll;
}

.hp .rslides_nav.prev:hover,
.pr .rslides_nav.prev:hover {
	background: url(../images/icons/icon_sprites.png) -40px 0 no-repeat scroll;
}

.hp .rslides_nav.next:hover,
.pr .rslides_nav.next:hover {
	background: url(../images/icons/icon_sprites.png) -60px 0 no-repeat scroll;
}

.loading-bar {
	position: absolute;
	top: 0;
	height: 2px;
	background-color: #F39773;
	width: 0%;
	z-index: 3;
}

/* HEADER STYLES END */

/* NAVIGATION STYLES START */

nav {
	position: absolute;
	background-color: #F69670;
	width: 280px;
	top: 0;
	right: 0;
	height: 1136px;
	font-family: "Roboto Light", sans-serif;
	color: white;
	transition: all 0.5s ease 0s;
	min-height: 450px;
	z-index: 2;
}

nav.offcanvas {
	right: -280px;
}

.nav-wrapper {
	margin-top: 30px;
}

nav ul {
	list-style-type: none;
	margin: 0;
	font-size: 20px;
	padding: 0;
}

nav a {
	display: block;
	padding: 5px 0 5px 25px;
}

#nav a:hover, 
#nav a:focus,
#nav a:active {
	color: #B0DED3;
}

#social-nav-container {
	position: absolute;
	bottom: 0;
	left: 0;
}

p.hash-tag {
	padding-left: 25px;
	font-size: 16px;
}

#social-nav {
	padding-left: 0;
	padding-top: 5px;
	display: inline-block;
	width: 280px;
}

#social-nav li {
	height: 80px;
	display: block;
	padding: 15px 25px 0 25px;
}

#social-nav li:hover {
	cursor: pointer; 
}

#social-nav a {
	display: block;
	padding: 0;
}

#social-nav p {
	font-size: 20px;
	margin: 0;
	padding: 0;
}

#social-nav p + p {
	font-size: 12px;
	font-style: italic;
}

#social-nav .lnkdin a {
	background: url(../images/icons/icon_linkedin.png) 175px center no-repeat scroll;
}

#social-nav .lnkdin:hover,
#social-nav .lnkdin:focus {
	background-color: #1884bc;
}

#social-nav .twitt a {
	background: url(../images/icons/icon_twitter.png) 175px center no-repeat scroll;
}

#social-nav .twitt:hover,
#social-nav .twitt:focus {
	background-color: #2eacf0;
} 

#social-nav .instgrm a {
	background: url(../images/icons/icon_instagram.png) 175px center no-repeat scroll;
}

#social-nav .instgrm:hover,
#social-nav .instgrm:focus {
	background-color: #1c577b;
}

/* NAVIGATION STYLES END */

/* QOUTE STYLES START */

.qoute {
	height: 100px;
	color: white;
    background-color: #b0ded3;
    position: relative;
    z-index: 3;
}

.qoute-container {
	margin-top: -15px;
}

.qoute-border-container {
	height: 15px;
	width: 100%;
	background: url(../images/border-tile-green.png) 0 0 repeat-x scroll;
	background-size: auto 15px;
	position: relative;
	z-index: 3;
	margin-top: -1px;
}

.qoute-border-container.reverse {
	background: url(../images/border-tile-green-up.png) 0 0 repeat-x scroll;
	background-size: auto 15px;
	top: 1px;
}

.qoute p {
	line-height: 100px;
	text-align: center;
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	font-size: 16px;
	color: #444;
	letter-spacing: 3px;
}

.qoute a {
	color: #f69670;
	outline: none;
}

/* QOUTE STYLES END */

/* FORM STYLES START */

#form-popup-wrapper {
	position: relative;
}

textarea {
	resize: vertical;
}

#contact-form-container {
	background-color: #fff;
	padding: 100px 6% 80px 6%;
	color: #f39773;
	text-transform: uppercase;
	z-index: 2;
	margin-top: -15px;
	transition: all 0.3s ease 0s;
	position: absolute;
	width: 100%;
	height: 715px;
	left: 0;
	top: 0;
	display: none;
}

#contact-form-container h2 {
	font-family: "Roboto Black", sans-serif;
	font-size: 60px;
	margin: 0;
	padding: 0;
}

#contact-form-container input,
#contact-form-container select,
#contact-form-container textarea {
	background-color: #b0ded3;
	border: none;
	border-radius: 0;
	color: white;
	font-family: "Roboto Light", sans-serif;
	text-transform: uppercase;
	height: 50px;
	margin-top: 15px;
	font-size: 18px;
}

#contact-form-container input:focus,
#contact-form-container select:focus,
#contact-form-container textarea:focus {
	box-shadow: none;
}

/* REMOVE DOTTED OUTLINE IN FF */
#contact-form-container select:-moz-focusring {
	color: transparent;
    text-shadow: 0 0 0 #FFF;
}

#contact-form-container textarea {
	min-height: 175px;
}

#contact-form-container input[type="submit"] {
	text-align: left;
	padding-left: 15px;
	width: 100%;
}

#contact-form-container input[type="submit"]:hover,
#contact-form-container input[type="submit"]:focus {
	background-color: #F39773;
}

input::-webkit-input-placeholder, 
textarea::-webkit-input-placeholder { 
    color: #fff !important;
}
input:-moz-placeholder, 
textarea:-moz-placeholder { 
}
input::-moz-placeholder, 
textarea::-moz-placeholder { 
    color: #fff !important;
}
input:-ms-input-placeholder, 
textarea:-ms-input-placeholder { 
    color: #fff !important;
}

.contact-form-border-container {
	height: 15px;
	width: 100%;
	background: url(../images/border-tile-white.png) 0 0 repeat-x scroll;
	background-size: auto 15px;
	position: relative;
	z-index: 3;
	margin-top: -1px;
}

/* FORM STYLES END */

/* FOOTER LOGO STYLES START */

#footer-logo-container {
	background: #FFF url(../images/footer_homepage.gif) 0 0 no-repeat scroll;
	display: block;
	background-position: center center;
	position: relative;
	min-height: 545px;
}

/* FOOTER LOGO STYLES END */

/* FOOTER INFO STYLES START */

#footer-info-container {
	background-color: #f39773;
	color: white;
	font-size: 18px;
	z-index: 1;
	margin-top: -15px;
	transition: all 0.3s ease 0s;
	min-height: 700px;
	position: relative;
	padding: 0;
	font-family: "Roboto Thin", sans-serif;
}

#footer-info-container div:first-child {
	padding-top: 175px;
	margin: 0 auto;
	width: 360px;
}

#footer-info-container h2 {
	text-transform: uppercase;
	font-family: "Roboto", sans-serif;
	font-size: 44px;
	margin: 0;
	font-weight: bold;
	text-align: center;
}

#footer-info-container h2 span {
	letter-spacing: 8px;
}

#footer-info-container p {
	font-family: "Roboto Medium", sans-serif;
	text-align: center;
	background-color: #b0ded3;
	color: #FFF;
	font-size: 30px;
	text-transform: uppercase;
	margin: 30px 0 0 0;
	height: 80px;
	line-height: 80px;
}

#footer-info-container p:hover {
	color: #f69670;
	background-color: #FFF;
	cursor: pointer;
}

#footer-info-container p span {
	letter-spacing: 40px;
}

#footer-info-container table {
	margin-top: 30px;
}

#footer-info-container td {
	border: 2px solid #FFF;
	width: 120px;
	height: 120px;
	text-align: center;
}

#footer-info-container ul {
	padding: 0;
	margin-top: 35px;
}

#footer-info-container li {
	display: inline;
	padding-right: 25px;
}

#footer-info-container a {
	display: inline-block;
	width: 50px;
	height: 50px;
}

#dummies {
	display: none;
}

#dummies .lnkdin {
	background: url(../images/icons/icon_linkedin_green.svg) 0 0 no-repeat scroll;
	background-size: 48px 48px;
}

#dummies .twitt {
	background: url(../images/icons/icon_twitter_green.svg) 0 0 no-repeat scroll;
	background-size: 48px 48px;
}

#dummies .instgrm {
	background: url(../images/icons/icon_instagram_green.svg) 0 0 no-repeat scroll;
	background-size: 48px 48px;
}

#footer-info-container td.lnkdin a {
	background: url(../images/icons/icon_linkedin_white.svg) 0 0 no-repeat scroll;
	background-size: 48px 48px;

	transition: none;
}

#footer-info-container td.lnkdin a:hover,
#footer-info-container td.lnkdin a:focus {
	background: url(../images/icons/icon_linkedin_green.svg) 0 0 no-repeat scroll;
	background-size: 48px 48px;
}

#footer-info-container td.twitt a {
	background: url(../images/icons/icon_twitter_white.svg) 0 3px no-repeat scroll;
	background-size: 48px 48px;

	transition: none;
}

#footer-info-container td.twitt a:hover,
#footer-info-container td.twitt a:focus {
	background: url(../images/icons/icon_twitter_green.svg) 0 3px no-repeat scroll;
	background-size: 48px 48px;
}

#footer-info-container td.instgrm a {
	background: url(../images/icons/icon_instagram_white.svg) 0 2px no-repeat scroll;
	background-size: 48px 48px;

	transition: none;
}

#footer-info-container td.instgrm a:hover,
#footer-info-container td.instgrm a:focus {
	background: url(../images/icons/icon_instagram_green.svg) 0 2px no-repeat scroll;
	background-size: 48px 48px;
}

footer {
	min-height: 160px;
	background-color: #444;
	color: white;
	text-transform: uppercase;
	font-family: "Roboto Thin", sans-serif;
	letter-spacing: 1px;
	padding: 45px 20px 0 20px;
	margin-top: -15px;
}

footer ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

footer ul {
	margin-bottom: 30px;
}

footer li.cat {
	font-family: "Roboto", sans-serif;
}

footer li {
	padding-top: 5px;
}

footer #copyright {
	text-align: right;
}

footer a:hover,
footer a:focus,
footer a:visited {
	color: #f69670;
}

/* FOOTER INFO STYLES END */

@media only screen and (min-width: 736px) {
 
 	#project-ca-web {
		background: url(../images/projects/ca/ca_1_1920x1080.png) center center no-repeat scroll;
		background-size: cover;
	} 

	#project-ef-merch {
		background: url(../images/projects/ef/ef_merch_1_1920x1080.png) center center no-repeat scroll;
		background-size: cover;
	}

	#project-student-label {
		background: url(../images/projects/sl/sl_1_1920x1080.png) center center no-repeat scroll;
		background-size: cover;
	}
  
  #project-ezy {
		background: url(../images/projects/ezy/ezy_1_1920x1080.png) center center no-repeat scroll;
		background-size: cover;
	}

	nav {
		width: 320px;
	}

	nav ul {
		font-size: 30px;
	}

	nav a {
		padding-left: 40px;
	}

	p.hash-tag {
		font-size: 20px;
		padding-left: 40px;
	}

	#social-nav {
		padding-top: 20px;
		width: 320px;
	}

	#social-nav p {
		font-size: 30px;
	}

	#social-nav li {
		height: 100px;
		padding: 20px 40px;
	}

	header.in .project-background {
		background-position: -320px center !important;
	}

	header.in #project-ewa-farna {
		background-position: -320px top !important;
	}

	header.in #nav-container {
		right: 360px;
	}

	header.in #main-logo-container {
		left: 40px;
	}

	#main-logo-container img {
		height: 30px;
	}

	#nav-container {
		right: 30px;
		top: 28px;
		width: 100px;
		font-size: 40px;
		font-family: "Roboto Thin", sans-serif; 
		text-transform: uppercase;
		color: #f69670;
		text-indent: 0;
		background-image: none;
	}

	nav.offcanvas {
		right: -320px;
	}

	ul.project-focus {
		left: 40px;
		display: block;
	}

	.project-title {
		left: 40px;
		margin: 0;
	}

	.qoute p {
		font-size: 22px;
		letter-spacing: 5px;
	}
}

@media only screen and (min-width: 990px) {

	header:hover .hp.project-switch {
		display: block;
	}

	.pr.project-switch {
		display: block;
	}

	.qoute {
		height: 200px;
	}

	.qoute p {
		line-height: 200px;
		font-size: 40px;
	}

	.contact-form-border-container {
	    display: none;
	}

	#footer-logo-container {
		min-height: 685px;
	}

	.crafted-by-us.mobile {
		display: none;
	}

	#contact-form-container {
		padding: 10vh 25% 80px;
	}

	footer {
		padding: 50px 40px 0 40px;
	}

	footer ul {
		float: left;
	}

	footer ul:first-child {
		margin-right: 50px;
	}

	footer #copyright {
		margin-top: 35px;
	}
}

@media only screen and (max-width: 440px) {

	.qoute p {
		font-size: 14px;
		letter-spacing: 0;
	}

	nav {
		width: 240px;
	}

	nav.offcanvas {
		right: -240px;
	}

	#social-nav {
		width: 240px;
	}

	#social-nav .lnkdin a,
	#social-nav .twitt a,
	#social-nav .instgrm a {
		background-position: 135px center;
	}

	header.in .project-background {
		background-position: -240px center !important;
	}

	header.in #project-ewa-farna {
		background-position: -240px top !important;
	}

	header.in #nav-container {
		right: 270px;
	}

	#contact-form-container h2 {
		font-size: 48px;
	}

	#footer-info-container h2 {
		font-size: 34px;
	}

	#footer-info-container h2 span {
		letter-spacing: 6px;
	}

	#footer-info-container div:first-child {
		width: 280px;
		padding-top: 75px;
	}

	#footer-info-container {
		min-height: 425px;
	}

	#footer-info-container p {
		margin-top: 20px;
	}

	#footer-info-container p span {
		letter-spacing: 30px;
	}

	#footer-info-container td {
		width: 93.3px;
		height: 93.3px;
		border: 1px solid #FFF;
	}

	#contact-form-container {
		min-height: 730px;
	}

	footer {
		font-size: 12px;
	}
}

/* Make navigation scale with available height when in landscape orientation */ 
@media only screen and (max-height: 650px) and (orientation:landscape) {

	nav ul {
		font-size: 20px;
	}

	nav a {
		padding: 5px 0 5px 25px;
	}

	p.hash-tag {
		font-size: 16px;
		padding-left: 25px;
	}

	#social-nav {
		padding-top: 5px;
	}

	#social-nav p {
		font-size: 20px;
	}

	#social-nav li {
		height: 80px;
		padding: 15px 25px 0;
	}
}





/* WE ARE STYLES */

#site-cover-container {
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	display: none;
}

#site-cover-container.slide-in {
	display: block;
}

#about-us {
	background-color: #b0ded3;
	padding: 40px 20px 80px 20px;
	text-align: center;
	color: #FFF;
	font-family: "Roboto Light", sans-serif;
	font-size: 16px;
}

#about-us h1 {
	font-size: 26px;
	text-transform: uppercase;
	padding: 40px 0;
}

#about-us p {
	max-width: 430px;
	display: inline-block;
}

#about-us .clients-container {
	max-width: 640px;
	display: inline-block;
}

#about-us img {
	padding-bottom: 60px;
	width: 90%;
}

.page-close {
	position: absolute;
	top: 37px;
	right: 30px;
	display: inline-block;
	width: 36px;
	height: 35px;
	background: url(../images/icons/icon_close_white.png) 0 0 no-repeat scroll;
}

.page-close.contact-form {
	background: url(../images/icons/icon_close_green.png) 0 0 no-repeat scroll;
}

@media only screen and (min-width: 530px) {

	#about-us h1 {
		font-size: 30px;
	}

	#about-us img {
		width: 100%;
	}
}

@media only screen and (min-width: 992px) {
	
	img#andel-logo {
		margin-top: 15px;
	}
	
	#about-us img.left {
		padding-right: 30px;
	}

	#about-us img.right {
		padding-left: 30px;
	}
}


